/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 body{
  background-color:#f6e7d2;
  width: 100%;
 }
 .main-div{
  background-color: #01b6ad;
  width: 1000px;
  margin: 0 auto;
 }
.img-space{
  background-color: #0a4958;
  width: 500px;
}
.image-wrapper{
  overflow: hidden;
}
.image{
  width: 310;
  float: left;
}
.share{
  background-color: red;
  width: 190;
  float: right;
}
.profile-image{
  display: inline-block;
  float: right;
  border-radius: 70px;
 -webkit-border-radius: 70px;
 -moz-border-radius: 70px;
}
