/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require social-share-button
 *= require fancybox
 *= require_tree .
 */

 body{
  background-color:#f6e7d2;
  width: 100%;
 }
 table{
  border-spacing:0px;
 }
 td{
  border-left: 5px solid #f6e7d2;
 }
 p{
  text-align: justify;
 }
 .main-div{
  /*background-color: #01b6ad;*/
  width: 1000px;
  margin: 0 auto;
 }
.img-space{
  background-color: #0a4958;
  width: 500px;
  vertical-align: top;
}
.top-info{
  height: 80px;
  line-height: 80px;
  width: 90%;
  background-color:#18254E;
  color: white;
  margin: 5px 0;
  border-top-right-radius: 75px;
  border-bottom-right-radius: 75px;
 -webkit-border-top-right-radius: 75px;
 -webkit-border-bottom-right-radius: 75px;
 -moz-border-radius-topright: 75px;
 -moz-border-radius-bottomright: 75px;
}

.image-wrapper{
  overflow: hidden;
}
.image{
  width: 310px;
  float: left;
  padding-left: 5px;
}
.image img{
  border: 1px solid #0E343D;
  border-radius: 10px;
 -webkit-border-radius: 10px;
 -moz-border-radius: 10px;
}
.image img:hover{
  cursor: pointer;
  box-shadow: 2px 2px 5px #0D252A;
  border: 1px solid #0A7189;
}
.map{
  margin-top: 5px;
  border: 1px solid #0E343D;
  border-radius: 5px;
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
}
.map:hover{
  cursor: pointer;
  box-shadow: 2px 2px 5px #0D252A;
  border: 1px solid #0A7189;
}
.desc{
  margin: 5px;
  padding: 5px;
  color: rgb(252, 216, 169);
  font-family: monospace;
  border-left: 1px solid rgb(252, 216, 169);
}
.not-aval{
  color: #757575;
}
.share{
  display: block;
  width: 170px;
  float: right;
}

.profile-image{
  display: inline-block;
  float: right;
  margin: 5px;
  border: 1px solid #0A1A4E;
  border-radius: 70px;
 -webkit-border-radius: 70px;
 -moz-border-radius: 70px;
}
.uname{
  color: #CED1FA;
  padding-left: 10px;
  font-weight: bold;
  font-size: larger;
  display: inline-block;
  vertical-align: middle;
  line-height: normal; 
}
.uname a{
  color: #CED1FA;
  text-decoration: none;
}
.likes-text{
  color: white;
  font-weight: bold;
  font-size: 16px;
  display: block;
  /*line-height: auto;*/
  }
.likes-text img{
vertical-align:middle;
}
.likes-text a{
  text-decoration: none;
  color: white;
}
.likes-text a:hover, .uname a:hover{
  cursor: pointer;
  color: rgb(252, 216, 169);
}
  .disable-hover,.disable-hover * {
  pointer-events: none !important;
}
